/* Video Player */
.video-js {
    width: calc(100% - 10px);
    height: calc(100% - 30px);
    margin: 10px;
    background-color: #000;
    border-radius: 6px;
}


body.playlist-visible .video-js {
    margin-left: 300px;
}

/* Fullscreen fixes */
.video-js:-webkit-full-screen,
.video-js:-moz-full-screen,
.video-js:-ms-fullscreen,
.video-js:fullscreen {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
}

.vjs-fullscreen .video-js {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
}

/* Kontrol çubuğu */
.vjs-control-bar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Video elementi */
.video-js .vjs-tech {
    border-radius: 6px;
}
